.sidebar-icon {
    @apply ml-4 mt-1;
}

.sidebar-title {
    @apply text-2xl font-medium;
}

.sidebar-content {
    @apply p-2;
}

.sidebar-note {
    @apply ml-4;
}

.sidebar-top-list {
    @apply mt-4;
}

.sidebar-bottom-list {
    @apply mb-4;
}

.split-pane-visible > ion-menu {
    max-width: 350px;
}

ion-menu {
    --ion-background-color: var(--ion-color-primary);
    --ion-text-color: var(--ion-color-light-tint);
}

ion-toolbar {
    --background: var(--ion-color-primary);
}

ion-list {
    background: transparent;
}

--side-max-width {
    @apply w-32
}