@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1E1E1E inset !important;
}
 
@-webkit-keyframes autofill {
    0%,
    100% {
        color: #666;
        background: transparent;
    }
}
 
input:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.ionic .checkbox input:before,
.ionic .checkbox-icon:before {
    background: #d6d6d6;    /* use your color hex instead of #333 */
    border-color: #333;
}